## In Jupyter, one can easily document and report what they have done and many use it to present their results. 

#### Some useful Jupyter **shortcuts** are: 
##### $\;\;\;\;\;\;$- Ctrl + Enter (run current cell) 
##### $\;\;\;\;\;\;$- Alt+Enter (run the current and make a new cell) 
##### $\;\;\;\;\;\;$- Shift + Enter (run and move to the next cell) 

#### When in the **command mode**: 
##### $\;\;\;\;\;\;$- **Use h to pull up the list of all the shortcuts.** Some of the useful ones are:
##### $\;\;\;\;\;\;$- m (turn the cell into a markdown cell),1 (turn the text into a large header), y (turn it to code cell), k and j are to move up and down, a and b to insert cell above and below 

#### In the **code cells**: 
##### $\;\;\;\;\;\;$- Tab (for code completion)
##### $\;\;\;\;\;\;$- Shift + Tab (for pulling up the help documentation)
##### $\;\;\;\;\;\;$- Ctrl + ]    (indent)

## The notebook is as follows:
#### $\;\;\;\;\;\;$- Reading Data into DataFrames
#### $\;\;\;\;\;\;$- Inserting, Dropping, and Renaming rows and columns
#### $\;\;\;\;\;\;$- Data Cleaning (Handling missing values, and converting data formats)
#### $\;\;\;\;\;\;$- Exploratory Data Analysis 
#### $\;\;\;\;\;\;$- Data Visualization
#### $\;\;\;\;\;\;$- Hypothesis formulation/Conclusion

In [ ]:
#Library
import numpy as np 
import pandas as pd 
import seaborn as sns
import datetime
import plotly.graph_objs as go
import matplotlib.pyplot as plt
import plotly.offline as py
from plotly.offline import download_plotlyjs, init_notebook_mode, iplot
py.init_notebook_mode(connected = True)
import plotly.express as px

## Introduction to DataFrames  
### Let's create an empty dataframe first!

In [ ]:
col = ['Name','Age']
df = pd.DataFrame(columns = col)
df

### There are multiple ways to create a DataFrames:

In [ ]:
# using list of lists
data = [['John', 29], ['Hannah', 35], ['Juli', 26]]
df = pd.DataFrame(data, columns = ['Name', 'Age'])
df

In [ ]:
# using dictionaries
Data = {'Name':['John','Hannah','Juli'],'Age':[29,35,26]}
df = pd.DataFrame(Data)
df

### But, the most common case is to read the data from an Excel or CSV file into the dataframe using **pd.read_csv()**:

# Example dataset: Melbourne House Prices
### Analysing housing data in Melbourne
![](https://cdn.britannica.com/64/190464-050-B74E1FD9/view-central-business-district-Melbourne-train-station.jpg)

In [ ]:
df = pd.read_csv('melb_data.csv')
print('Dataset has ',df.shape[0],' records and ',df.shape[1], ' columns' )
print(' ')
df.head() # head shows the first 5 rows by default

### Renaming a column

In [ ]:
print('Before Rename: ',df.columns)
df = df.rename(columns = {'SellerG':'Real_Estate_Agent'})
# Column names in the dataset
print('After Rename: ',df.columns)

### Inserting a new column

In [ ]:
# new column
df['test'] = 'test column'
df.head(2)

### Dropping a column

In [ ]:
df.drop('test' , axis = 1,inplace = True) # you can set df equal to this statement here to overwrite or use inplace = True
df.head(2)

### Inserting a new row

In [ ]:
new_row = {'Suburb': 'Abbotsford', 'Address': '26 Bloomburg St', 'Rooms': 4, 'Type': 'h', 'Price': 1033030.0, 'Method': 'S', 'Real_Estate_Agent': 'Biggin', 'Date': '4/02/2016', 'Distance': 2.5, 'Postcode': 3067.0, 'Bedroom2': 2.0, 'Bathroom': 1.0, 'Car': 0.0, 'Landsize': 156.0, 'BuildingArea': 79.0, 'YearBuilt': 1900.0, 'CouncilArea': 'Yarra', 'Lattitude': -37.8079, 'Longtitude': 144.9934, 'Regionname': 'Northern Metropolitan', 'Propertycount': 4019.0}
print(len(df))
df = df.append(new_row , ignore_index = True)  # ignore_index should be set to True to append a dict to the dataframe
print(len(df))
df.tail(2)

### Dropping a row

In [ ]:
df.drop(len(df)-1,inplace = True)
df.tail(2)

### DataFrame Summary

In [ ]:
df.info()

### Descriptive statistics of the DataFrame

In [ ]:
df.describe()

In [ ]:
memory_usage0 = df['Type'].memory_usage()  #select a column with square brackets [ ]
memory_usage1 = df.Type.memory_usage() #select a column with .col_name
print('Initial memory usage: ',memory_usage1,memory_usage0)
df.Type.unique() #Unique values in the column

In [ ]:
# If the number of distinct categories are very few compared to the number of rows, we can save a substantial amount of memory by using category data type

df['Type'] = df['Type'].astype('category')
memory_usage2 = df['Type'].memory_usage()
print('Memory usage after changing to categorical type: ',memory_usage2)
print('Changing to categorical type reduced the used memory by:' ,(1- memory_usage2/memory_usage1)*100,'%')

In [ ]:
print('Initial Type values: ',df.Type.unique())
df.Type.replace({'h':'house','u':'unit','t':'town_house'}, inplace = True)
print('The more representative values: ',df.Type.unique())
print(' ')
df['Type'].value_counts(normalize = True)

### **Data type conversions** _ to categorical

In [ ]:
#Categorical Data
df['Suburb'] = df['Suburb'].astype('category')
df['Postcode'] = df['Postcode'].astype('category')
df['Regionname'] = df['Regionname'].astype('category')
df['Real_Estate_Agent'] = df['Real_Estate_Agent'].astype('category')
df['Type'] = df['Type'].astype('category')
df['Method'] = df['Method'].astype('category')

### Handling missing values

In [ ]:
# finding the columns with missing data
pd.isnull(df).any(axis = 0)

In [ ]:
df.isnull().sum()

In [ ]:
df.drop(columns = ['YearBuilt', 'BuildingArea', 'CouncilArea'], inplace = True) #Dropped this column since this data point was poorly sourced

In [ ]:
#df = df.fillna(df.mean())  # fill with the mean of the column
# df = df.fillna(df.max())  # fill with the max of the column
df['Car'] = df['Car'].fillna(df['Car'].mean())    # setting missing values to zero
pd.isnull(df).any(axis = 0)

### **Data type conversions** _ to integer

In [ ]:
#Integer Data
df['Car'] = df['Car'].astype('int64')
df['Rooms'] = df['Rooms'].astype('int64')
df['Bedroom2'] = df['Bedroom2'].astype('int64')
df['Bathroom'] = df['Bathroom'].astype('int64')
df['Price'] = df['Price'].astype('float64')

### **Data type conversions** _ to date

In [ ]:
print(df.Date.dtypes)  # Columns with mixed types are stored with theÂ object dtype.
df['Date'] = pd.to_datetime(df['Date'])
df['Date'].dtypes

In [ ]:
#extracting month
df['Month'] = df['Date'].dt.month
df.head()

### Sorting records based on a column values

In [ ]:
# After sorting, we have to reset the index:
df = df.sort_values('Price',ascending = False).reset_index() # Default is ascending
df

In [ ]:
# The split function, as the name suggests, splits a string at the specified character 
df['road_type'] = df['Address'].str.split(' ').str[-1]
df.road_type.unique()

In [ ]:
# Standardizing the text formats. 
df['Address'].str.upper()
df['Type'] = df['Type'].str.capitalize()

### iloc vs. loc

In [ ]:
print("\n -- loc -- \n")
print(df.loc[df['Price'] < 150000, ['Type']])
 
print("\n -- iloc -- \n")
print(df.iloc[(df['Price'] < 150000).values, [4]])

In [ ]:
df.iloc[[1]].to_dict('records')

In [ ]:
df.loc[df['Type'] == 'House',['Type','Price','Distance','Regionname']]

In [ ]:
df_filtered = df.loc[(df['Type'] == 'House') & (df['Distance'] <= 0.5 * np.median(df['Distance'])) & (df['Rooms'] <= 2),['Type','Price','Distance','Regionname','Rooms']]
df_filtered

In [ ]:
print('The mean Price of a property meeting our criteria is: ',"${:,.2f}".format(np.mean(df_filtered['Price'])))

# Exploratory Data Analysis & Visualization

## **Groupby**
#### Groupby is a versatile and extremely useful function for exploratory data analysis

In [ ]:
# distribution of the available data over collected dates  
df['Date_only']=df['Date'].dt.date
ax = df.groupby(['Date_only'])['Price'].count().plot(kind = 'bar', figsize = (30,10))
ax.set_ylabel("Number of records")

#### We can see the irregularity in the number of data points for the recorded dates.

In [ ]:
# Mean price on each of the collected dates 
ax = df.groupby(['Date_only'])['Price'].mean().plot(kind = 'bar', figsize = (30,10))
ax.set_ylabel("Price")

In [ ]:
# Visualization
plt.figure(figsize=(10, 8), dpi=80)
box_plot = sns.boxplot(x = 'Type',y = 'Price',data = df.sort_values('Type'))
plt.ylabel('Price')
plt.xlabel('Property Type')

ax = box_plot.axes
lines = ax.get_lines()
categories = ax.get_xticks()

for cat in categories:
    # every 4th line at the interval of 6 is median line
    # 0 -> p25 1 -> p75 2 -> lower whisker 3 -> upper whisker 4 -> p50 5 -> upper extreme value
    y = round(lines[cat*6+2].get_ydata()[0],1) 
    y2 = round(lines[cat*6+4].get_ydata()[0],1) 

    ax.text(
        cat, 
        y, 
        f'{y}', 
        ha='center', 
        va='center', 
        fontweight='bold', 
        size=10,
        color='white',
        bbox=dict(facecolor='#445A64'))
    ax.text(
        cat, 
        y2, 
        f'{y2}', 
        ha='center', 
        va='center', 
        fontweight='bold', 
        size=10,
        color='white',
        bbox=dict(facecolor='#445A64'))

box_plot.figure.tight_layout()

fig = box_plot.get_figure()

# fig.savefig("age.png",dpi=300)

#### There are a few outliers after the max value and the minium price of all is \\$85,000. 
#### \\$85,000 for a property is very low for Melbourne. Let's find this cheapest property:

In [ ]:
max_price = np.max(df['Price'])
min_price = np.min(df['Price'])
mid_price = np.median(df['Price'])

df[df['Price'].isin([min_price,mid_price,max_price])].sort_values(by = ['Price'])

In [ ]:
min_Lattitude = df[df['Price'] == min_price]['Lattitude'].values[0]
min_Longtitude = df[df['Price'] == min_price]['Longtitude'].values[0]

fig = px.density_mapbox(df[df['Price'] == min_price], lat='Lattitude', lon='Longtitude', z='Price', radius=15,
                        center=dict(lat=min_Lattitude, lon=min_Longtitude), zoom=14,
                        mapbox_style="stamen-terrain", opacity = 1, title = 'Cheapest Property Neighborhood')
fig.show()

In [ ]:
plt.figure(figsize=(10, 8), dpi=80)
sns_plot = sns.violinplot(x = 'Type',y = 'Rooms',data = df.sort_values('Type'), split = False)
plt.ylabel('Number of Rooms')
plt.xlabel('Type')
plt.title('A kernel density estimation of Number of Rooms for each Property Type')
fig = sns_plot.get_figure()
# fig.savefig("mas.png",dpi=300)

In [ ]:
# we can use pivot table and then plot it to compare the price of 
# properties in different regions grouped by their type

df.pivot_table(index='Type', values='Price', aggfunc='mean',columns='Regionname')\
.plot(kind="bar",figsize=(10, 8))
plt.ylabel('Mean Price')
plt.title('Southern Metropolitan is constistanly the most expensive region')
plt.legend(bbox_to_anchor=(1.01, 1), loc='upper left')

In [ ]:
# another approach is using groupby:
df[['Price','Type','Regionname']]\
.groupby(['Type','Regionname']) .agg(['mean']).sort_values(by=("Price", "mean"))\
.dropna().unstack().plot(kind='bar',figsize=(10, 8))
plt.ylabel('Mean Price')
plt.legend(bbox_to_anchor=(1.01, 1), loc='upper left')

#### Bedroom2 (Scraped # of Bedrooms (from different source)) is not consistent with the other source:

In [ ]:
df[['Type','Rooms','Bedroom2']].groupby('Type') .agg(['max','min','mean']).round(1)

#### We can use **px.density_mapbox**, and  **Lattitude** and **Longtitude** columns in the data, to overlay the data points on map.

#### Each row of the DataFrame is represented as a point smoothed with a given radius of influence.

In [ ]:
fig = px.density_mapbox(df, lat='Lattitude', lon='Longtitude', z='Price', radius=10,
                        center=dict(lat=-37.8, lon=145), zoom=10,
                        mapbox_style="stamen-terrain", opacity = 0.5, title = 'Melbourne Price Heatmap')
fig.show()

In [ ]:
fig = px.density_mapbox(df, lat='Lattitude', lon='Longtitude', z='Landsize', radius=10,
                        center=dict(lat=-37.8, lon=145), zoom=10,
                        mapbox_style="stamen-terrain", opacity = 0.5, title = 'Melbourne Landsize Heatmap',range_color=(0,3000))
fig.show()

In [ ]:
monthDict = {1:'Jan', 2:'Feb', 3:'Mar', 4:'Apr', 5:'May', 6:'Jun', 
            7:'Jul', 8:'Aug', 9:'Sep', 10:'Oct', 11:'Nov', 12:'Dec'}
df.pivot_table(index='Type',columns='Month', values=['Price', 'Propertycount'], aggfunc={'Price':'count'}).rename(columns=monthDict, level=1)

In [ ]:
import calendar
df['Month2'] = df['Month'].apply(lambda x: calendar.month_abbr[x])


df.pivot_table(index='Type',columns='Month', values=['Price', 'Propertycount'], aggfunc={'Price':'count'})\
.rename(columns=monthDict, level=1).plot(kind="bar",figsize=(10, 8))
plt.ylabel('Count')
plt.title('Distributions are normal like for all the types, peaking in the middle of the year')
plt.legend(bbox_to_anchor=(1.01, 1), loc='upper left')


df.pivot_table(index='Type',columns='Month', values=['Price', 'Propertycount'], aggfunc={'Price':'mean'})\
.rename(columns=monthDict, level=1).plot(kind="bar",figsize=(10, 8))
plt.ylabel('Mean Price')
plt.title('The Supply and demand is reflected in that the price drops in the middle of the year')
plt.legend(bbox_to_anchor=(1.01, 1), loc='upper left')

### Correlation of Price with other features

#### Correlation matrix can only be used for numberical variables. 

#### Here are some common sense assumptions:
1. **Landsize and Price are probably highly correlated.** I believe that in Melbourne as land size increases the house prices will increase linearly to that. 
2. **Rooms, Bathroom and Carpark should be highly correlated.** Same logic as point 1, the bigger the house the higher the price.
3. **In Australia the CBD(Central Business District) tends to be prime property.** The reason for that is every aminety is readily avialable and being close to work is a huge advantage consdering all work offices tend to be within the CBD.
4. Certain Real Estate agents will be "expert sellers" in certain locations within Melbourne. The rationale behind this one is simple, a real estate agent might pick niche which makes them the specialist in selling houses in a given area.

In [ ]:
#Numerical Dataset
df_numerical = pd.concat([df['Price'], df['Distance'], df['Rooms'], df['Bathroom'], df['Car'], df['Landsize']], axis = 1)
df_numerical = df[['Price','Distance','Rooms','Bathroom','Car','Landsize']]
#df_numerical = df.select_dtypes(include='number')
df_numerical

In [ ]:
sns.heatmap(df_numerical.corr(), annot = True)

In [ ]:
sns.pairplot(df_numerical)

Orighty, this pairplot has lot going on so lets take it step-by-step. Firstly, Landsize data has an outlier sticking out. We can get rid of the outlier which will give us some more meaningful insights (will do this in a bit).

Now lets look at Distance. The Distance variable is exhibiting a sort of positively skewed bell curve characteristics when plotted against Price. It seems that as distance reduces prices increase not strictly linearly, this maybe why the correlation matrix was showing strange values. But from the pairplot we can observe the 4th assumption in full effect which is awesome! There are obvious relationships with distance such as distance increases (moving out of CBD) Rooms, Bathrooms and Car space will increase. I do not want to spend too much time on this at the moment.

Finally, looking at Rooms, Bathrooms and Car we can observe a loosely positive increase in price as there is a positive 1-unit change in the three variables. Once again this does not indicate that there is a strict linear relationship, we have to always take this kind of analysis with a grain of salt.

In [ ]:
#Removing the outlier from Landsize var, I am going to remove the row exhibiting the Landsize outlier completely
df_numerical_2 = df_numerical.drop(df_numerical['Landsize'].idxmax())

In [ ]:
df_numerical_2 = df_numerical.drop(df_numerical.index[df_numerical['Landsize'] > 10000])
#df.loc[df['B'] == 19]

In [ ]:
 sns.boxplot(y = df_numerical_2.Landsize, data = df_numerical_2)

In [ ]:
sns.pairplot(df_numerical)

![](https://i.pinimg.com/originals/91/db/a8/91dba80a5419f1bf4700ec99ab6081bb.jpg)